################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Secur-O-Teck ACW/v15/Server/sqlite3/storage.ide-shm
/.vs/Secur-O-Teck ACW/v15/Server/sqlite3/storage.ide-wal
